.collection_page {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
  }

  .formular {
    display: flex;
    flex-direction: column;

    input {
      border-radius: 8px;
      border: none;
      width: 100%;
      height: 30px;
      background-color: var(--color-component);
      box-shadow: #cdcccc29 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
  }

  .button {
    display: flex;
    cursor: pointer;
    border: none;
  }
}
