.notfound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  p {
    text-align: center;
    font-size: 2rem;
  }
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 992px) {
  .notfound-container img {
    max-width: 90%;
  }
}
