.about-page {
  margin: 20px;
  h1 {
    text-align: center;
    margin: 25px;
  }
  span {
    background-color: var(--color-component);
    margin: 12px 0;
    width: 100%;
    display: flex;
    flex-direction: rows;
    justify-content: space-around;

    img {
      width: 100px;
      height: 150px;
    }
    .github-link {
      width: 20px;
      height: 20px;
      margin: 0 5px;
    }
    .linkedin-link {
      width: 20px;
      height: 20px;
    }
  }
}
@media screen and (min-width: 768px) {
  .about-page {
    .text {
      font-size: 1.2rem;
      h1 {
        font-size: 1.8rem;
      }
    }
    span {
      align-items: center;
      width: 60%;

      margin: 30px auto;
      img {
        width: 160px;
        height: 240px;
      }
      strong {
        font-size: 1.1rem;
      }
      .github-link,
      .linkedin-link {
        width: 25px;
        height: 25px;
      }
    }
  }
}
