.user-form-main {
  text-align: center;

  img {
    width: 100px;
  }
  form {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: initial;

    h2 {
      text-align: center;
    }

    input {
      padding: 1rem 1rem;
      border-radius: 8px;
      border: 1px solid var(--color-border);
      background: #f5f8fa;
    }

    input:last-of-type {
      padding: 2rem 1rem;
    }

    button {
      padding: 0.8rem 0;
      background: var(--button-reg-log);
      color: var(--primary-color);
      border: none;
      border-radius: 8px;
      font-size: 1.1rem;
      cursor: pointer;
      margin-top: 0.5rem;
      transition: background 0.2s;

      &:hover {
        background: #183040;
      }
    }
  }
}

.link-login {
  text-align: center;
  height: calc(100vh - 170px);
  display: grid;
  place-items: center;
  margin: 0 10px;

  p {
    font-size: 1.2rem;
  }

  button {
    padding: 0.7rem 1.3rem;
    font-size: 1.2rem;
    border-radius: 20px;
    background-color: var(--color-component);
    border: solid 1px var(--color-border);
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.03);
    }
  }
}

@media screen and (min-width: 768px) {
  .user-form-main {
    margin: 0 auto;

    img {
      width: 150px;
    }
    form {
      width: 60vw;
    }
  }

  .link-login {
    height: calc(100vh - 180px);

    p {
      font-size: 1.5rem;
    }

    button {
      font-size: 1.5rem;
      padding: 1rem 1.7rem;
      border-radius: 40px;
    }
  }
}
