.admin-dashboard {
  background: #f7f9fc;
  padding: 32px;
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  h1 {
    font-size: 2.2rem;
    margin-bottom: 24px;
  }

  section {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
    margin-bottom: 32px;
    padding: 24px;
    .not-delete-cancel-button {
      padding: 8px;
      border-radius: 6px;
      border: 1px solid var(--color-border);
      font-size: 1rem;
      cursor: pointer;
    }

    h2 {
      font-size: 1.4rem;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 12px 8px;
      }

      th {
        background: #e2e8f0;
      }

      tr:nth-child(even) {
        background: #f1f5f9;
      }
    }
    button:not(.not-delete-cancel-button) {
      padding: 8px 16px;
      border-radius: 6px;
      border: none;
      cursor: pointer;
      background: var(--red-button);
      color: var(--color-component);
      transition: background 0.3s ease;
      &:hover {
        background: var(--red-button-hover);
      }
    }
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
      gap: 12px;
    }
    .modal {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.3);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      form {
        background: var(--color-component);
        padding: 32px;
        border-radius: 12px;
        max-width: 700px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        textarea {
          min-height: 120px;
        }
        button {
          width: 200px;
          align-self: center;
        }
      }
    }

    input,
    textarea {
      border: 1px solid #cbd5e1;
      border-radius: 6px;
      padding: 8px;
      font-size: 1rem;
      width: 100%;
    }

    input:focus,
    textarea:focus {
      outline: none;
      border-color: #3182ce;
      box-shadow: 0 0 0 2px #90cdf4;
    }
  }
}
