.header {
  header {
    /*border: 2px, solid, red;*/
    display: flex;
    width: 100%;
    cursor: pointer;
  }

  .menu-et-logo {
    /*border: 2px, solid, greenyellow;*/
    flex-basis: 100%;
    display: auto;
    justify-content: center;
  }

  .logo {
    /*border: 2px, solid, orange;*/
    width: 50px;
    height: 50px;
    margin: 5px 0 0 45px;
  }

  .bm-burger-button {
    /*border: 2px, solid, darkorchid;*/
    position: fixed;
    width: 25px;
    height: 25px;
    left: 10px;
    top: 16px;
  }

  .bm-burger-bars {
    background: #373a47;
  }

  .bm-menu {
    background: #373a47;
    padding: 2.5em 2.5em 0;
    font-size: 1.20em;
  }

  .menu-item {
    display: block;
    color: white;
    padding: 0.5em 0;
    text-decoration: none;
  }

  /* Couleur/forme de la croix du bouton de fermeture */
  .bm-cross {
    background: #bdc3c7;
  }

  .nav_categories {
    /*border: 2px, solid, red;*/
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 25px;
    height: 25px;

    a {
      font-size: 0.5rem;
    }

    button {
      text-align: center;
      box-shadow: rgba(205, 204, 204, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px
        3px 6px;
      background-color: var(--color-component);
      border-radius: 50px;
      border: none;
      width: 100px;
    }
  }

  .left_nav {
    /*border: 2px, solid, blue;*/
    display: flex;
    align-items: center;
    width: 100%;
  }

  .nav_menu {
    /*border: 2px, solid, pink;*/
    display: flex;
    flex-basis: 15%;
    justify-content: right;
    align-items: center;
    gap: 12px;
    margin: 6px;
  }

  .nav_menu img {
    /*border: 2px, solid, yellow;*/
    width: 30px;
    height: 30px;
    top: 10px;
  }

  button {
    border: 2px, solid, darkred;
    border: none;
    background: none;
    padding: 0;
  }

  #contact_modal {
    inset: auto;
    right: 32px;
    top: 70px;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    box-shadow: rgba(205, 204, 204, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px
      3px 6px;
    background-color: var(--color-component);
    border: none;

    #contact_logo {
      /*border: 2px, solid, purple;*/
      display: flex;
      justify-content: center;
      img {
        width: 60px;
        height: 60px;
      }
    }
    a {
      /*border: 2px, solid, green;*/
      margin: 30px;
      font-size: 1.2rem;
    }
  }
  /*DESKTOP*/
  @media screen and (min-width: 992px) {
    .bm-burger-button {
      display: none;
    }
    .logo {
      /*border: 2px, solid, blue;*/
      margin: 0px 0 0 6px;
    }
  }
  /*MOBILE*/
  @media screen and (max-width: 992px) {
    .nav_categories {
      display: none;
    }
    .nav_menu {
      flex-basis: 100%;
    }
    #contact_modal {
      right: 20px;
      top: 70px;
      width: 250px;
      height: 250px;
    }
  }
}
