header {
  border: 2px solid red;
  display: flex;
  width: 100%;
}

.menu-et-logo {
  border: 2px, solid, greenyellow;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  border: 2px, solid, orange;
  width: 35px;
  height: 35px;
}

.bm-burger-button {
  border: 2px, solid, darkorchid;
  position: fixed;
  width: 35px;
  height: 35px;
  left: 10px;
  top: 10px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.menu-item {
  display: block;
  color: white;
  padding: 0.5em 0;
  text-decoration: none;
}

/* Couleur/forme de la croix du bouton de fermeture */
.bm-cross {
  background: #bdc3c7;
}

.nav_menu {
  border: 2px, solid, blue;
  margin: 0 5px;
  display: flex;
  flex-basis: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.nav_menu img {
  margin: 5px;
  border: 2px, solid, yellow;
  width: 35px;
  height: 35px;
}
