.banner-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
  padding-top: 16px;
}

.banner-footer figure {
  display: flex;
  margin: 0;
  gap: 5px;
}

.banner-footer a {
  text-decoration: none;
  border: solid 1px rgb(176, 126, 126);
  border-radius: 20px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 20px;
}

.banner-footer img {
height: 35px;

}