.banner-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #606060;
  padding-top: 16px;
}

.banner-footer ul {
  display: flex;
  margin: 10px;
  gap: 8px;
  list-style: none;
  padding: 0;
}

.banner-footer a {
  text-decoration: none;
}

.banner-footer a p {
  border: solid 1px #606060;
  border-radius: 20px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 20px;
  color: #191919;
}

.banner-footer img {
  height: 30px;
}
