.banner-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 20px;
}

.banner-footer ul {
  display: flex;
  gap: 8px;
  margin: 0;
}

.banner-footer img {
  height: 30px;
}

.footer-line {
  width: 98%;
  margin-top: 50px;
}

@media screen and (max-width: 992px) {
  .banner-footer img {
    height: 24px;
  }
}
